
{% include 'entete.html' %}


    <div class="container">
        <div class="container">
            <h1>Liste des appartements</h1>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Adresse</th>
                  <th>Ville</th>
                  <th>Code postal</th>
                  <th>Prix des charges</th>
                  <th>Loyer</th>
                  <th>Dépôt de garantie</th>
                </tr>
              </thead>
              <tbody>
                {% for appartement in appartements %}
                  <tr>
                    <td>{{ appartement.adresse }}</td>
                    <td>{{ appartement.ville }}</td>
                    <td>{{ appartement.code_postal }}</td>
                    <td>{{ appartement.prix_charges }}</td>
                    <td>{{ appartement.loyer }}</td>
                    <td>{{ appartement.depot_garantie }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
    </div>


{% include 'footer.html' %}