{% include 'entete.html' %}



    <div class="container">
        <h1>Liste des états des lieux</h1>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Appartement</th>
              <th>Date</th>
              <th>Remarques</th>
            </tr>
          </thead>
          <tbody>
            {% for etat_des_lieux in etat_des_lieux %}
            <tr>
              <td>{{ etat_des_lieux.appartement.adresse }}</td>
              <td>{{ etat_des_lieux.date }}</td>
              <td>{{ etat_des_lieux.remarques }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

{% include 'footer.html' %}