{% include 'entete.html' %}

    <div class="container">
        <h1>Liste des locataires</h1>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Adresse</th>
              <th>Numéro de téléphone</th>
              <th>Adresse email</th>
            </tr>
          </thead>
          <tbody>
            {% for locataire in locataires %}
            <tr>
              <td>{{ locataire.nom }}</td>
              <td>{{ locataire.adresse }}</td>
              <td>{{ locataire.numero_telephone }}</td>
              <td>{{ locataire.adresse_email }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

{% include 'footer.html' %}