{% include 'entete.html' %}

    <div class="container">
        <h1>Liste des paiements</h1>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Locataire</th>
              <th>Date</th>
              <th>Montant</th>
            </tr>
          </thead>
          <tbody>
            {% for paiement in paiements %}
            <tr>
              <td>{{ paiement.locataire.nom }}</td>
              <td>{{ paiement.date }}</td>
              <td>{{ paiement.montant }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

{% include 'footer.html' %}