{% include 'entete.html' %}


    <div class="container">
        <h1 class="text-center">Liste des quittances de loyer</h1>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Locataire</th>
              <th>Période</th>
              <th>Montant</th>
              <!--  -->
            </tr>
          </thead>
          <tbody>
            {% for quittance_loyer in quittance_loyers %}
            <tr>
              <td>{{ quittance_loyer.locataire }}</td>
              <td>{{ quittance_loyer.periode }}</td>
              <td>{{ quittance_loyer.montant }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

{% include 'footer.html' %}